.products-overview-container{
    background-color: var(--background);
    color: var(--text-primary) !important;
    padding-bottom: 15%;
}

.product-overview-title{
    margin: 1rem;
    text-align: center;
}

.product-overview-col:hover{
    cursor: pointer;
}

.product-overview-img{
    transition: transform 300ms;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.product-overview-img:hover{
    transform: scale(1.05);
    border-bottom: 0.1rem var(--primary-color) solid;
}

.product-overview-text:hover{
    border-bottom: 0.1rem var(--primary-color) solid;
}

@media only screen and (max-width: 770px){
    .product-overview-col{
        padding-left: 2.5rem !important;
    }
}

