html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
}

.full-height {
  height: 100% !important;
  max-height: 100% !important;
}

.max-width{
  width: 100% !important;
  max-width: 100% !important;
}

:root {
  --background: #262626;
  --primary-color: #2ab7ca;
  --secondary-color: #ffc107;
  --text-primary: #D6CCC2;
}
[data-theme='dark'] {
  --background: white;
  --primary-color: #2ab7ca;
  --secondary-color: #ffc107;
  --text-primary: black;
}